<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Form_Usuario_Contrasenia.Properties.Settings.ITPIAIConnectionString"
            connectionString="Data Source=LAPTOR_JHASMANY\SQLEXPRESS01;Initial Catalog=ITPIAI;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Form_Usuario_Contrasenia.Properties.Settings.institutoConnectionString"
            connectionString="Data Source=LAPTOR_JHASMANY\SQLEXPRESS01;Initial Catalog=instituto;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>