<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CAPADATOS.Properties.Settings.ITPIAIConnectionString"
            connectionString="Data Source=LAPTOR_JHASMANY\SQLEXPRESS01;Initial Catalog=ITPIAI;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>